.spinner-container {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.6);
   backdrop-filter: blur(5px);
   z-index: 50;
   overflow: hidden;
}

.spinner {
   width: 56px;
   height: 56px;
   display: grid;
}

.spinner::before,
.spinner::after {
   content: "";
   grid-area: 1/1;
   background: var(--c) 50%  0, 
        var(--c) 50%  100%, 
        var(--c) 100% 50%, 
        var(--c) 0    50%;
   background-size: 13.4px 13.4px;
   background-repeat: no-repeat;
   animation: spinner-3hs4a3 1s infinite;
}

.spinner::before {
   --c: radial-gradient(farthest-side,#50a060 100%,#0000);
   margin: 4.5px;
   background-size: 9px 9px;
   animation-timing-function: linear;
}

.spinner::after {
   --c: radial-gradient(farthest-side, #0b529e 92%, #05326200);
}

@keyframes spinner-3hs4a3 {
   100% {
      transform: rotate(.5turn);
   }
}
